/******
 everything below these comments tags can be delete, just redirecting image routes for my file structure
*******/

html {
  height: 100%;
}

.image-bg {
  background-image: url(../img/hero.jpg);
}

/***** do not delete these ones ********/

.section--dark-green {
  background-color: #073e28;
}

.inline {
  display: inline-block;
}

.margin-top {
  margin-top: 50px
}

.margin-bottom {
  margin-bottom: 50px
}

.building-titles {
  text-transform: uppercase;
}

.section--dark-green h3, p {
  color: #fff;
}

.section--dark-green .flex {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.section--dark-green .flex p {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.black {
  color: #000;
}

.slide-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide-container img {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.orbit-previous, .orbit-next {
  height: 75px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.info-slate {
  box-sizing: border-box;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 30px;
  left: 60px;
  width: 500px;
  height: 200px
}

.info-slate h4 {
  color: white;
  font-size: 24px;
  border-left: 15px solid #77edac;
  padding-left: 10px;
}

.orbit-slide, .orbit-container, .orbit {
  height: 100vh !important;
}

.enqTitle {
  position: relative;
}

.enqTitle h1 {
  margin-bottom: 50px;
}

.enqTitle h1::after {
  border-bottom: 3px solid #77edac;
  top: 120px;
  content: "";
  height: 1px;
  left: calc(50% - 150px);
  position: absolute;
  width: 300px;
  margin-top: 24px;
}

.enqTitle-text p {
  color: #000;
  text-transform: uppercase;
}

.enqTitle-text {
  margin-bottom: 100px;
}

.main-form {
  width: 800px;
  margin: 0 auto;
  margin-top: 88px;
}

.main-form textarea {
  width: 568px;
  height: 174px
}

.main-form input[type="submit"] {
  color: #fff;
  background-color: #77edac;
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.main-form input[type="submit"]:hover {
  color: #fff;
  background-color: #073e28;
}

.news-flex {
  margin-bottom: 80px;
}

.news-story {
  border: 1px solid #979797;
  /*height: 348px;*/
  width: 30.66666666%;
  margin: 16px;
}

.news-story img {
  width: 100%;
  height: 200px;
}

.news-story-text {
  padding: 20px 20px 0px 20px;
  color: rgba(0, 0, 0, 0.5);
}

.news-story-title {
  padding: 0px 20px 20px 20px;
  color: #00693d;
}

.enqBtn {
  border: 1px solid #979797;
  color: #afafaf;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #979797;
  color: #afafaf;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 16px;
  width: 40px;
  margin-bottom: 64px;
  margin-top: 48px;
  transition: all 0.3s ease-in-out;
}

.enqBtn:hover {
  background-color: #00693d;
  color: #fff;
}

.isActive {
  background-color: #00693d;
  color: #fff;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #979797;
}

.plans-bg {
  width: 100%;
  background-color: #00693d;
}

.plans .title h1 {
  color: #fff;
  font-size: 48px;
  margin-top: 64px;
  padding-bottom: 24px;
}

.plans .title h1::after {
  color: #fff;
  border-bottom: 3px solid #77edac;
  bottom: 0;
  content: "";
  height: 1px;
  left: calc(50% - 150px);
  position: absolute;
  width: 300px;
}

.plans .info-slate-plan {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: rgba(0, 105, 61, 0.5);
}

.plans .info-slate-plan p {
  margin-top: 0;
  margin-bottom: 0;
}

.plans .orbit-previous {
  z-index: 100;
  left: -50px;
  background-color: rgba(255, 0, 0, 0.0);
}

.plans .orbit-next {
  z-index: 100;
  right: -50px;
  background-color: rgba(255, 0, 0, 0.0);
}

.plans .orbit-container {
  overflow: inherit;
  margin-top: 50px;
}

.accordion {
  background-color: rgba(255, 0, 0, 0.0);
  border: none;
}

.accordion-item {
  padding-bottom: 16px;
  max-height: 5000px;
}

.accordion-title {
  font-size: .875rem;
  background-color: #fff;
  color: #77edac;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-align: left;
  border-bottom: none;
  border-radius: 2px;
}

.accordion-title:hover, .accordion-title:focus {
  background-color: #77edac;
  color: white;
}

.accordion-title::before {
  content: '^';
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.5rem;
}

.info {
  margin-top: 60px;
}

.plans {
  padding-bottom: 50px;
}

.tour {
  box-sizing: border-box;
  padding: 10px 32px;
  background-color: #77edac;
  width: 20%;
}

.tour img {
  width: 100%;
}

.tour button {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
}

.tourBtn {
  background-color: #00693d;
}

.download {
  border: 1px solid white;
}

.bikes h4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  margin-top: 48px;
  padding-bottom: 32px;
  margin-bottom: 16px
}

.bikes h4::after {
  border-bottom: 3px solid #77edac;
  bottom: 0;
  content: "";
  height: 1px;
  left: calc(50% - 150px);
  position: absolute;
  width: 300px;
}

.transInfo img {
  width: 100%;
  height: 528px;
}

.wrap {
  position: relative;
}

.text {
  text-align: left;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 320px;
  color: white;
  border-left: 16px solid #77edac;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 800;
}

.transInfo {
  margin-top: 50px;
}

.infoText {
  background-color: #e7e7e7;
  text-align: left;
}

.noPadding {
  padding: 0;
}

.transHub {
  background-image: url(../img/transport-aerial.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 912px;
}

.transHub h2 {
  font-size: 40px;
  padding-bottom: 8px;
  margin-top: 20px;
}

.transHub p {
  color: black;
  font-size: 24px
}

.transHubLegend {
  bottom: -300%;
  left: 0%;
  width: 305px;
  padding: 16px;
  position: absolute;
  background: #00693d;
}

.transHubList p {
  font-size: 16px;
  text-align: left;
  margin: 0;
  color: white;
}

.CONNECTIONS {
  background-image: url(../img/bg-line-map-test.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 1200px;
  color: white;
  padding-top: 32px;
  position: relative;
}

.CONNECTIONS h2 {
  font-size: 32px;
  color: white;
}

.CONNECTIONS::after {
  background-image: -webkit-linear-gradient(359deg, rgba(24, 89, 147, 0) 3%, #0a2d5a 100%);
  background-image: linear-gradient(-269deg, rgba(24, 89, 147, 0) 3%, #0a2d5a 100%);
  content: "";
  height: 1170px;
  position: absolute;
  right: 0;
  top: 0;
  width: 280px;
  z-index: 2;
}

.CONNECTIONS::before {
  background-image: -webkit-linear-gradient(181deg, rgba(24, 89, 147, 0) 3%, #0a2d5a 100%);
  background-image: linear-gradient(269deg, rgba(24, 89, 147, 0) 3%, #0a2d5a 100%);
  content: "";
  height: 1170px;
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  z-index: 2;
}
