a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: darken($primary-color, 25%);
  }
}

main a[href]:not([class]) {
  text-decoration: underline;
}

.row {
    position: relative;
}

/* ==========================================================================
   Typography
   ========================================================================== */
h1 {
    text-transform: uppercase;
}

.subheader {
    position: relative;
    font-size: 1.75rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;

    &:after {
        border-bottom: 3px solid $secondary-color;
        bottom: 0;
        content: "";
        height: 1px;
        left: calc(50% - 150px);
        position: absolute;
        width: 300px;
    }
}

/* ==========================================================================
   Section
   ========================================================================== */
.section {
  position: relative;
  padding: 3rem 0;
}

.section--primary {
    background-color: $primary-color;
    color: $white;
}

.section--primary h1,
.section--primary h2,
.section--primary h3 {
    color: $white;
    z-index: 100;
    position: relative;
}

.section--medium-gray {
    background-color: $medium-gray;
}

.section--dark-green {
    background-color: $secondary-color;
}

.padd-top {
    padding-top: 56px;
}

.h3-large {
    font-size: 1.75rem;
}

/* ==========================================================================
   Header
   ========================================================================== */
.site-header {
    padding: 2rem 0;
}

.logo {
    width: 175px;
    height: 70px;
}

.image-bg {
    background-image: url(../images/hero.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: $white;
    text-align: center;

    &:before {
        background: rgba(0, 105, 61, 0.72);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

/* Menu
   ========================================================================== */
.menu {
  font-weight: $global-weight-bold;
}

.menu li {
  display: block;
  text-align: left;

  @include breakpoint(medium) {
    display: inline-block;
  }
}

.menu > li > a {
    position: relative;
    color: $white;

    @include breakpoint(medium) {
        text-transform: uppercase;

        &:after {
            content: "";
            bottom: -8px;
            height: 8px;
            left: 50%;
            position: absolute;
            right: 50%;
            -webkit-transition-property: left,right;
            transition-property: left,right;
            -webkit-transition-duration: .2s;
            transition-duration: .2s;
            -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
            background-color: $secondary-color;
        }
    }

    &:hover {
        color: $white;

        &:after {
            left: 0.5rem;
            right: 0.5rem;
        }
    }
}

.menu .active > a {
  color: $primary-color;
}

.menu a.button {
    margin: 0.5rem 5px;
    text-transform: none;

    @include breakpoint(medium) {
        margin-top: 0;
        margin-bottom: 0;
    }

    &:after {
        display: none;
    }
}

/* Off canvas */
.off-canvas > nav > .menu {
    padding: 1rem;
}

.off-canvas > nav > .menu > li > a:hover {
    color: $secondary-color;
}

.off-canvas > nav > .menu > li > a:after {
    display: none;
}

.off-canvas > nav >.menu a.button {

    @include breakpoint(medium) {
        margin: 0.5rem 5px;
    }

    &:hover {
        color: $white;
    }
}

.off-canvas > nav >.menu a.button.secondary {
    &:hover {
        color: $black;
    }
}

.off-canvas .close-button {
    color: $white;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.25rem;
}

/* Menu icon */
.menu-icon {
    @include breakpoint(30rem) {
        margin-right: 0.5rem;
    }

    &:after {
        background-color: $white;
        box-shadow: 0 7px 0 $white, 0 14px 0 $white;
    }
}

/* Mobile nav wrapper */
.site-header__mobile-nav {

    @include breakpoint(large) {
        margin-bottom: 1rem;
    }
}

.site-header__enquiry-button {
    display: none;
    margin-bottom: 0;

    @include breakpoint(30rem) {
        display: inline-block;
    }
}

/* Sub Menu
   ========================================================================== */
.submenu {
    margin-left: 0;
}

.submenu li {
    display: inline-block;
    margin: 0 0.5rem;
}

.submenu li a {
    color: $white;
    position: relative;

    &:after {
        content: "";
        bottom: -8px;
        height: 1px;
        left: 50%;
        position: absolute;
        right: 50%;
        -webkit-transition-property: left,right;
        transition-property: left,right;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        background-color: $secondary-color;
    }

    &:hover {
        color: $white;

        &:after {
            left: 0.5rem;
            right: 0.5rem;
        }
    }
}

/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
    padding: 3rem 0;

    @include breakpoint(large) {
        padding: 6rem 0;
    }
}

.hero h1 {
    position: relative;
    margin-bottom: 2rem;
    color: $white;

    &:after {
        border-bottom: 3px solid $secondary-color;
        bottom: 0;
        content: "";
        height: 1px;
        left: calc(50% - 150px);
        position: absolute;
        width: 300px;
    }
}

.hero p {
    font-size: 1.3125rem;
    text-transform: uppercase;
}

/* Hero scroll
   ========================================================================== */
.hero-scroll {
    background-color: $medium-gray;
    bottom: 0;
    padding: 0.5rem;
    position: absolute!important;
    width: 100%;
}

.hero-scroll__futurefit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 11rem;
}

/* ==========================================================================
   Image Module
   ========================================================================== */
.image-module {
    position: relative;
    background-color: $primary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 7rem 2rem 2rem;
    box-sizing: border-box;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
}

.image-module--large {
    padding-top: 10rem;

    @include breakpoint(medium) {
        padding-top: 15rem;
    }
}

.image-module__title {
    border-left: 16px solid $primary-color;
    color: #fff;
    font-size: 1.75rem;
    line-height: 1.4;
    font-weight: $global-weight-bold;
    padding-left: 16px;
    margin-bottom: 3rem;
}

.image-module__title--small {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.image-module p,
.image-module a {
    position: relative;
}

/* ==========================================================================
   Brochure Strap
   ========================================================================== */
.brochure-strap {
    @include breakpoint(medium) {
        background-image: url(../images/brochure.png);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 40%;
    }
}

.brochure-strap .row {
    @include breakpoint(medium) {
        padding-right: 40%;
    }
}

/* ==========================================================================
   Aerial
   ========================================================================== */
.c-aerial__legend--wrapper {
    position: relative;
}

.c-aerial__wrapper {
    overflow-x: auto;
    position: relative;
    text-align: -webkit-center;
}

.c-aerial--location-map, {
    background-image: url(../images/location-aerial2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1440px;
    height: 753px;
    position: relative;
    width: 1440px;
}
.c-aerial--opportunity-map {
    background-image: url(../images/belfast-aerial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1440px;
    height: 912px;
    position: relative;
    width: 1440px;
}

.c-aerial {
    text-align: center;
    position: relative;
}

.c-aerial__text {
    left: 0;
    margin: auto;
    padding-top: 32px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 111;
}

.c-aerial h4 {
    line-height: 42px;
    color: #fff;
    font-size: 24px;
}

/* Pins */
.c-pin {
    position: absolute;
}

.c-pin__pulse {
    position: absolute;
    left: 752px;
    top: 273px;
}

.c-pin--one {
    left: 735px;
    top: 256px;
}

.c-pin--two {
    left: 622px;
    top: 190px;
}

.c-pin--three {
    bottom: 330px;
    right: 510px;
}

.c-pin--four {
    right: 474px;
    top: 80px;
}

.c-pin--five {
    left: 698px;
    top: 94px;
}

.c-pin--six {
    bottom: 307px;
    right: 415px;
}

.c-pin--seven {
    left: 395px;
    top: 306px;
}

.c-pin--eight {
    bottom: 340px;
    left: 312px;
}

.c-pin--nine {
    bottom: 64px;
    left: 482px;
}

.c-pin--ten {
    left: 255px;
    top: 63px;
}

.c-pin__number {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 51px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-pin__txt {
    font-size: 1.0625rem;
    color: #fff;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    position: absolute;
    top: 6px;
    text-align: center;
    width: 36px;
}

.c-pin__txt--active {
    color: $primary-color;
}

.c-pin--one-opp {
    left: 771px;
    top: 480px
}
.c-pin--two-opp {
    right: 571px;
    top: 314px
}
.c-pin--three-opp {
    right: 583px;
    top: 380px
}
.c-pin--four-opp {
    right: 634px;
    top: 368px
}
.c-pin--five-opp {
    right: 475px;
    top: 312px
}
.c-pin--six-opp {
    right: 420px;
    top: 325px
}
.c-pin--seven-opp {
    right: 535px;
    top: 325px
}
.c-pin--eight-opp {
    left: 360px;
    top: 248px
}
.c-pin--nine-opp {
    bottom: 230px;
    right: 475px
}
.c-pin--ten-opp {
    bottom: 265px;
    right: 300px
}
.c-pin--eleven-opp {
    bottom: 275px;
    right: 333px
}
.c-pin--twelve-opp {
    left: 140px;
    top: 320px
}
.c-pin--thirteen-opp {
    left: 325px;
    top: 350px
}
.c-pin--fourteen-opp {
    left: 100px;
    top: 375px
}
.c-pin--fifteen-opp {
    left: 105px;
    top: 310px
}
.c-pin--sixteen-opp {
    right: 80px;
    top: 385px
}
.c-pin--seventeen-opp {
    bottom: 360px;
    right: 555px
}
.c-pin--eighteen-opp {
    bottom: 230px;
    right: 435px
}
.c-pin--nineteen-opp {
    bottom: 220px;
    right: 55px
}
.c-pin--twenty-opp {
    bottom: 340px;
    right: 435px
}
.c-pin--twentyone-opp {
    right: 606px;
    top: 305px
}
.c-pin--twentytwo-opp {
    right: 605px;
    top: 435px
}
.c-pin--twentythree-opp {
    left: 525px;
    top: 400px
}
.c-pin--twentyfour-opp {
    bottom: 335px;
    right: 140px
}
.c-pin__pulse {
    position: absolute;
    left: 752px;
    top: 273px
}
.c-pin__pulse--opp {
    left: 789px;
    top: 498px
}


/* Pulse */
@-webkit-keyframes pulse{
    0%{stroke-width:3px;stroke-opacity:1;-webkit-transform:scale(.3);transform:scale(.3)}
    to{stroke-width:0;stroke-opacity:0;-webkit-transform:scale(2);transform:scale(2)}
}
@keyframes pulse{
    0%{-webkit-transform:scale(0);transform:scale(0);opacity:0}
    25%{-webkit-transform:scale(.5);transform:scale(.5);opacity:.1}
    40%{-webkit-transform:scale(1);transform:scale(1);opacity:.5}
    50%{-webkit-transform:scale(1.5);transform:scale(1.5);opacity:.3}
    60%{-webkit-transform:scale(2);transform:scale(2);opacity:.5}
    75%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0}
    to{-webkit-transform:scale(3);transform:scale(3);opacity:0}
}

.c-pin__pulse-dot {
    border: 3px solid #fff;
    background: 0 0;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 1.8s ease-out;
    animation: pulse 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 1;
    opacity: 0;
}

.c-pin__pulse-anim {
    background-color: transparent;
    border-radius: 30px;
    border: 5px solid transparent;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

/* Legend */
.c-aerial__legend {
    background-color: $primary-color;
    color: #fff;
    padding: 1rem;

    @include breakpoint(large) {
        bottom: 0;
        max-width: 235px;
        position: absolute;
        right: 40px;
    }
}

.c-aerial__legend img {
    display: block;
    width: 7rem;
    margin: 0 1rem 1rem;
}

.c-aerial__legend--opportunity {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    max-width: 100%;
    padding: 16px;
    width: 100%;
    right: 0;
}

/* ==========================================================================
   Skills
   ========================================================================== */

.light-heading {
    width: 100%;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1.05;
    margin-bottom: 24px;
}

.universities {
    background-color: #fff;
    color: #000;
    font-weight: 400;
    min-height: 300px;
    padding: 40px 32px 40px 56px;
}

.flexible-options h3 {
    background-color: $white;
    color: #00693d;
    font-size: 1.5rem;
    padding: 8px;
}

.partners-list img {
    max-width: 100%;
    width: 20%;
}

/* ==========================================================================
   Forms
   ========================================================================== */
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    height: 2.6rem
}

/* Inline form */
.inline-form input {
    display: inline-block;
    margin: 1rem;
    width: auto;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
    font-weight: $global-weight-bold;
}

.button.hollow.white {
    border-color: $white;
    color: $white;

    &:hover {
        border-color: $secondary-color;
    }
}

.button.secondary {
    color: #00693d;

    &:hover {
        color: darken(#00693d, 10%);
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer-logo {
    height: 100px;
}

/* ==========================================================================
   Utilities
   ========================================================================== */
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }

.text-light { color: #767676; }
.text-small { font-size: $small-font-size; }